<div class="container-fluid p-3">

  <div class="d-flex align-items-center justify-content-between mb-5">
    <label class="titles title-2 semibold extended-secondary-darker">
      {{form.get('pacienteData')?.get('id')?.value ? 'Editar Paciente' : 'Novo Paciente'}}
    </label>
  </div>


  <form [formGroup]="form">
    <div class="form-div" formGroupName="pacienteData">
      <div class="row">
        <div class="col-sm-2">
          <mat-form-field appearance="outline">
            <mat-label class="paragraph paragraph-2 mat-label">Código</mat-label>
            <input matInput formControlName="id" />
          </mat-form-field>
        </div>

        <div class="col-sm-5">
          <mat-form-field appearance="outline">
            <mat-label class="paragraph paragraph-2 mat-label">Nome</mat-label>
            <input matInput formControlName="nome" />
          </mat-form-field>
        </div>
        <div class="col-sm-5">
          <mat-form-field appearance="outline" class="mat-input">
            <mat-label class="paragraph paragraph-2 mat-label">Telefone</mat-label>
            <input matInput formControlName="telefone" [mask]="masks.phoneMask"/>
        </mat-form-field>
        </div>

      </div>

      <div class="row">

        <div class="col-sm-3">
          <mat-form-field  appearance="outline">
            <mat-label>Data Nascimento</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="data_nascimento">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-sm-4">
          <mat-form-field appearance="outline">
            <mat-label class="paragraph paragraph-2 mat-label">CPF</mat-label>
            <input matInput formControlName="cpf" [mask]="masks.cpfMask" />
          </mat-form-field>
        </div>

        <div class="col-5 ">
          <mat-form-field appearance="outline" class="mat-input">
            <mat-label class="paragraph paragraph-2 mat-label">Histórico Médico</mat-label>
            <textarea matInput maxLength="400" formControlName="historico_medico" style="height: 4rem;"></textarea>
          </mat-form-field>
        </div>

      </div>
    </div>
  </form>

  <div class="row">
    <div class="d-flex justify-content-end">
      <div class="col-sm-2 mx-2">
        <button mat-button class="btn btn-secondary subtitle subtitle-1 semibold primary-color"
           (click)="confirmCancel()">Cancelar</button>&nbsp;
      </div>
      <div class="col-sm-2">
        <button mat-button [disabled]="form.invalid" class="btn btn-primary subtitle subtitle-1 semibold white"
          (click)="save()">
          {{form.get('pacienteData')?.get('id')?.value ? 'Atualizar' : 'Salvar'}}
        </button>&nbsp;
      </div>
    </div>
  </div>
</div>

<app-confirm-modal #confirmModal></app-confirm-modal>
