@import "../../../styles/colors.scss";

:host ::ng-deep {
  .p-toast {
    font-size: 14px;
    opacity: 1;
    z-index: 10000 !important;
  }

  .p-toast .p-toast-message {
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(16, 24, 64, 0.08);
  }

  .p-toast .p-toast-message .p-toast-message-content {
    padding: 12px;
  }

  .p-toast .p-toast-message .p-toast-message-content .p-toast-message-text {
    margin: 0;
  }

  .p-toast .p-toast-message .p-toast-message-content .p-toast-message-icon {
    margin-top: 3px;
    font-size: 16px;
    margin-right: 14px;
  }
  
  /* SUCCESS */
  .p-toast .p-toast-message.p-toast-message-success {
    background: var(--g-50);
    border: 1px solid var(--g-300);
    color: var(--g-600);
  }

  .p-toast .p-toast-message.p-toast-message-success .p-toast-message-icon,
  .p-toast .p-toast-message.p-toast-message-success .p-toast-icon-close {
    color: var(--g-600);
  }

  /* ERROR */
  .p-toast .p-toast-message.p-toast-message-error {
    background: var(--r-50);
    border: 1px solid var(--r-300);
    color: var(--r-600);
  }

  .p-toast .p-toast-message.p-toast-message-error .p-toast-message-icon,
  .p-toast .p-toast-message.p-toast-message-error .p-toast-icon-close {
    color: var(--r-600);
  }

  /* WARNING */
  .p-toast .p-toast-message.p-toast-message-warn {
    background: var(--y-50);
    border: 1px solid var(--y-300);
    color: var(--y-900);
  }

  .p-toast .p-toast-message.p-toast-message-warn .p-toast-message-icon,
  .p-toast .p-toast-message.p-toast-message-warn .p-toast-icon-close {
    color: var(--y-600);
  }

  /* INFO */
  .p-toast .p-toast-message.p-toast-message-info {
    background: var(--b-50);
    border: 1px solid var(--b-300);
    color: var(--b-600);
  }

  .p-toast .p-toast-message.p-toast-message-info .p-toast-message-icon,
  .p-toast .p-toast-message.p-toast-message-info .p-toast-icon-close {
    color: var(--b-600);
  }

  .p-toast-summary {
    font-family: var(--font-toastr);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }

  .p-toast-detail {
    color: var(--primary-neutral);
    font-family: var(--font-toastr);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
}