<div class="container-fluid p-5 d-flex ">
  <div class="col-sm-2 d-flex justify-content-center mb-3 click mx-3" >
    <mat-card appearance="outlined" class="col-12 ">
      <mat-card-content class="shadown-large">
        <div class="d-flex flex justify-content-center align-items-center " routerLink="/medicos">
          <mat-icon class="icon-card-elevation material-icons-outlined mb-2 mx-2">emergency</mat-icon>
          <label class="paragraph paragraph-2 semibold extended-neutral-dark-active click">
            Médicos
          </label>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-sm-2 d-flex justify-content-center mb-3 click mx-3" >
    <mat-card appearance="outlined" class="col-12 ">
      <mat-card-content class="shadown-large">
        <div class="d-flex flex justify-content-center align-items-center " routerLink="/pacientes">
          <mat-icon class="icon-card-elevation material-icons-outlined mb-2 mx-2">person</mat-icon>
          <label class="paragraph paragraph-2 semibold extended-neutral-dark-active click">
            Pacientes
          </label>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-sm-2 d-flex justify-content-center mb-3 click mx-3" >
    <mat-card appearance="outlined" class="col-12 ">
      <mat-card-content class="shadown-large">
        <div class="d-flex flex justify-content-center align-items-center " routerLink="/consultas">
          <mat-icon class="icon-card-elevation material-icons-outlined mb-2 mx-2">receipt_long</mat-icon>
          <label class="paragraph paragraph-2 semibold extended-neutral-dark-active click">
            Consultas
          </label>
        </div>
      </mat-card-content>
    </mat-card>
  </div>


  <div class="col-sm-2 d-flex justify-content-center mb-3 click mx-3" >
    <mat-card appearance="outlined" class="col-12 ">
      <mat-card-content class="shadown-large">
        <div class="d-flex flex justify-content-center align-items-center " routerLink="/consultas">
          <mat-icon class="icon-card-elevation material-icons-outlined mb-2 mx-2">medical_services</mat-icon>
          <label class="paragraph paragraph-2 semibold extended-neutral-dark-active click">
            Exames
          </label>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
