<div class="container-fluid p-3">

 <div class="">
   <div>
      <label class="titles title-3 semibold extended-secondary-darker ">Exames</label>
   </div>
   <div class="d-flex justify-content-between my-3">

     <div class="col-5 search">
      <mat-form-field appearance="fill" class="mat-input">
        <mat-icon matPrefix class="icon-search">search</mat-icon>
        <mat-label class="paragraph paragraph-2 mat-label">Pesquisar</mat-label>
        <input matInput value="" [(ngModel)]="fiterTable" (keyup)="applyFilter($event)" >
      </mat-form-field>
    </div>

     <div>
       <button mat-button class="btn btn-primary subtitle white subtitle-1 semiboldw-auto p-3" routerLink="/exames/new-exame">
         <mat-icon class="icon-btn">add</mat-icon>Novo Exame
       </button>
     </div>
   </div>
   <div>
     <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;" matSort>
         <ng-container matColumnDef="data_exame">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="column-10"> Data de Exame </th>
          <td mat-cell *matCellDef="let exame" class="column-10 number"> {{exame.data_exame | date: 'dd/MM/yyyy'  }} </td>
        </ng-container>
        <ng-container matColumnDef="tipo_exame">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="column-10"> Tipo do Exame </th>
          <td mat-cell *matCellDef="let exame" class="column-10"> {{exame.tipo_exame}} </td>
        </ng-container>
         <ng-container matColumnDef="resultado">
           <th mat-header-cell *matHeaderCellDef mat-sort-header class="column-10"> Resultado </th>
           <td mat-cell *matCellDef="let exame" class="column-10"> {{exame.resultado}} </td>
         </ng-container>

         <ng-container matColumnDef="action">
           <th mat-header-cell *matHeaderCellDef class="column-10 "></th>
           <td mat-cell *matCellDef="let exame" class="column-10">
             <button mat-icon-button  pTooltip="Excluir" tooltipPosition="top"  (click)="confirmDelete(exame)">
               <mat-icon class="icon-secondary-color">delete</mat-icon>
             </button>
           </td>
         </ng-container>
         <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
         <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
     </table>
     <mat-paginator  [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" [showFirstLastButtons]="true" ></mat-paginator>
   </div>
 </div>
</div>

<app-confirm-modal #confirmModal></app-confirm-modal>
